@use '../../assets/scss/partials/mixins.scss' as mixins;

.new_food {
    form {
        margin-block: 2rem;
    }

    fieldset {
        border: 1px solid var(--border-color);
        border-radius: 5px;
        padding: 1rem;
        margin-bottom: 1rem;

        legend {
            font-size: 1.5rem;
            font-weight: bold;
            padding-inline: 1rem;
        }
    }

    button {
        margin-left: auto;
    }
}

.field_container {
    @include mixins.grid($align: center, $justify: center, $gap: 1rem, $gtc: repeat(2, 1fr));
    margin-block: 1rem;

    div {
        @include mixins.flex($ff: column nowrap);
    }
}

.general_info_container {
    grid-template-columns: repeat(2, 1fr);
    margin-block: 1rem;
}

.image_container {
    margin-block-end: 1rem;
}
