@use '../../assets/scss/partials/mixins.scss' as mixins;

.root {
    @include mixins.flex($align: center, $justify: space-between, $gap: 1rem);
    padding: 0.1rem 1rem;
}

.logo_container {
    @include mixins.flex($align: center, $justify: center, $gap: 1rem);

    h1 {
        font-family: 'Pacifico', sans-serif;
        font-size: 1.5rem;
    }
}

.logo {
    @include mixins.flex($align: center, $justify: center, $gap: 1rem);
}
