@use '../../assets/scss/partials/mixins.scss' as mixins;

.burger {
    @include mixins.flex($align: center, $justify: space-between, $ff: column nowrap, $gap: 0.25rem);
}

.burger_line {
    width: 1.25rem;
    height: 0.125rem;
    background-color: var(--text-color);
    border-radius: 0.1rem;
}
